In [28]:
import pandas as pd
import matplotlib.pyplot as plt

In [100]:
df = pd.read_csv('CSV/BallsInfo.csv')
match_df = pd.read_csv('CSV/MatchInfo.csv')

In [3]:
df

,Match ID,Innings No,Over,Ball,Batting Team,Bowling Team,Batsman,Non Striker,Bowler,Total Runs,Runs Bat,Extras,Wides,Leg Byes,Byes,No Balls,Penalty,Wicket,Player Dismissed
0,1175356,1,0,1,Royal Challengers Bangalore,Chennai Super Kings,V Kohli,PA Patel,DL Chahar,1,1,0,0,0,0,0,0,NaN,NaN
1,1175356,1,0,2,Royal Challengers Bangalore,Chennai Super Kings,PA Patel,V Kohli,DL Chahar,0,0,0,0,0,0,0,0,NaN,NaN
2,1175356,1,0,3,Royal Challengers Bangalore,Chennai Super Kings,PA Patel,V Kohli,DL Chahar,0,0,0,0,0,0,0,0,NaN,NaN
3,1175356,1,0,4,Royal Challengers Bangalore,Chennai Super Kings,PA Patel,V Kohli,DL Chahar,0,0,0,0,0,0,0,0,NaN,NaN
4,1175356,1,0,5,Royal Challengers Bangalore,Chennai Super Kings,PA Patel,V Kohli,DL Chahar,4,4,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14288,1181768,2,19,2,Chennai Super Kings,Mumbai Indians,RA Jadeja,SR Watson,SL Malinga,1,1,0,0,0,0,0,0,NaN,NaN
14289,1181768,2,19,3,Chennai Super Kings,Mumbai Indians,SR Watson,RA Jadeja,SL Malinga,2,2,0,0,0,0,0,0,NaN,NaN
14290,1181768,2,19,4,Chennai Super Kings,Mumbai Indians,SR Watson,RA Jadeja,SL Malinga,1,1,0,0,0,0,0,0,run out,SR Watson
14291,1181768,2,19,5,Chennai Super Kings,Mumbai Indians,SN Thakur,RA Jadeja,SL Malinga,2,2,0,0,0,0,0,0,NaN,NaN
14292,1181768,2,19,6,Chennai Super Kings,Mumbai Indians,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,0,0,lbw,SN Thakur

<b>Top Wicket Takers</b>
<br>
It is interesting to see how the list of top wicket takers have an equal number of fast bowlers and spinners. Another thing to note here is how CSK dominates this list with 3 bowlers, 2 out of which (Imran Tahir and Harbhajan Singh) are fairly experienced campaigners of this format, this is in contrast to the Top Scorers List where none of their palyers made an appearence. All the other teams also make an appearence here except KKR, the situation for KKR is looking pretty rough as none of their bowlers make an appearence even in Top 20 Wicket Takers. After such a great season both Khaleel Ahmed and Deepak Chahar got the oppurtunity to represent India on international level more frequently, Rabada also had a sensational season with Delhi Capitals and looked cut above others.

In [41]:
def get_wicket_count(player):
    filt = ((df['Bowler'] == player) & (~df['Wicket'].isin(['run out', 'obstructing the field'])))
    
    return df[filt]['Wicket'].count()


top_wicket_takers = pd.DataFrame()

top_wicket_takers['Players'] = pd.Series(df['Bowler'].unique())
top_wicket_takers['Innings Played'] = top_wicket_takers['Players'].apply(lambda player: df[df['Bowler'] == player]['Match ID'].unique().size)
top_wicket_takers['Wickets'] = top_wicket_takers['Players'].apply(get_wicket_count)
top_wicket_takers = top_wicket_takers.sort_values(by=['Wickets', 'Players'], ascending=[False, True])[:10]
top_wicket_takers

            Players  Innings Played  Wickets
3       Imran Tahir              17       26
32         K Rabada              12       25
0         DL Chahar              17       22
41          S Gopal              14       20
26        JJ Bumrah              16       19
84         KK Ahmed               9       19
44   Mohammed Shami              14       19
6         YS Chahal              14       18
23      Rashid Khan              15       17
1   Harbhajan Singh              11       16

In [91]:
def get_runs_conceded(player):
    filt = ((df['Bowler'] == player) & (df['Leg Byes'] == 0) & (df['Byes'] == 0))
    
    return df[filt]['Total Runs'].sum()


def get_overs_bowled(player):
    filt = ((df['Bowler'] == player) & (df['Wides'] == 0) & (df['No Balls'] == 0))
    
    balls_count = df[filt]['Ball'].count()
    return ((balls_count // 6) + (0.1 * (balls_count % 6)))


top_wicket_takers['Runs'] = top_wicket_takers['Players'].apply(get_runs_conceded)
top_wicket_takers['Overs'] = top_wicket_takers['Players'].apply(get_overs_bowled)
top_wicket_takers['Average'] = top_wicket_takers['Runs'] / top_wicket_takers['Wickets']
balls_delivered = top_wicket_takers['Overs'].astype(str).str.split('.').apply(lambda val: int(val[0]) * 6 + int(val[1]))
overs_propotionate = top_wicket_takers['Overs'].astype(str).str.split('.').apply(lambda val: float(val[0]) + (float(val[1]) / 6))
top_wicket_takers['Economy Rate'] = top_wicket_takers['Runs'] / overs_propotionate
top_wicket_takers['Strike Rate'] =  balls_player / top_wicket_takers['Wickets']
top_wicket_takers

,Players,Innings Played,Wickets,Runs,Overs,Average,Strike Rate,Economy Rate
3,Imran Tahir,17,26,431,64.2,16.576923,14.846154,6.699482
32,K Rabada,12,25,368,47.0,14.720000,11.280000,7.829787
0,DL Chahar,17,22,482,64.3,21.909091,17.590909,7.472868
41,S Gopal,14,20,347,48.0,17.350000,14.400000,7.229167
26,JJ Bumrah,16,19,409,61.4,21.526316,19.473684,6.632432
84,KK Ahmed,9,19,287,34.5,15.105263,11.000000,8.239234
44,Mohammed Shami,14,19,469,54.0,24.684211,17.052632,8.685185
6,YS Chahal,14,18,386,49.2,21.444444,16.444444,7.824324
23,Rashid Khan,15,17,377,60.0,22.176471,21.176471,6.283333
1,Harbhajan Singh,11,16,312,44.0,19.500000,16.500000,7.090909

<b>Economy v/s Wickets</b>
<br>
While the number of fast bowlers and spin bowlers in the list were same, what we find is that the economy rate for spinners was compartively lower and so were the number of wickets. Now this could be because of fast bowlers bowling more in powerplay and death overs, the two phases of the game where runs are scored at a higher pace. It is not something we can be sure as of now, since I don't have the data to back our claim, but that's what the rough analysis of the game say.

In [99]:
index_spin = [3, 41, 6, 23, 1]
index_fast = [32, 0, 26, 84, 44]
eco_avg_spin = top_wicket_takers.loc[index_spin, 'Economy Rate'].mean()
eco_avg_fast = top_wicket_takers.loc[index_fast, 'Economy Rate'].mean()
total_wickets_spin = top_wicket_takers.loc[index_spin, 'Wickets'].sum()
total_wickets_fast = top_wicket_takers.loc[index_fast, 'Wickets'].sum()
print(f'Avg Eco Spinners: {eco_avg_spin}, Total Wickets Spinners: {total_wickets_spin}\nAvg Eco Fast Bowlers: {eco_avg_fast}, Total Wickets Fast Bowlers: {total_wickets_fast}')

Avg Eco Spinners: 7.025443056103678, Total Wickets Spinners: 97
Avg Eco Fast Bowlers: 7.771901503695039, Total Wickets Fast Bowlers: 104

<b>Home and Away Wickets</b>
<br>
The qualifiers were played at different places, so considering them for this comparison was not fair. Hence only play offs were considered. Picking up your bowlers to suit your home advantage is a big part of team building and CSK here gives an example of how to use that home advantage, their spin department leads the charge at home where they have spin friendly wickets with Harbhajan Singh having the biggest difference between home and away wickets. On the opposite end we Kagiso Rababda who did exceptionally well on away matches with 64% of his wickets coming from away matches. 7 out of 10 bowlers performed better in their home conditions, however another factor to look into is, if qualifiers are brought into the picture the difference between Home and Away seems to even out for Imran Tahir and Deepak Chahar

In [148]:
def get_wicket_count_type(player, venue_type):
    play_offs = match_df.iloc[:56]
    team = df[df['Bowler'] == player].iloc[0, 5]
    home_m_ids = play_offs[play_offs[venue_type] == team]['Match ID']
    home_matches = df[df['Match ID'].isin(home_m_ids)]
    
    filt = ((home_matches['Bowler'] == player) & (~home_matches['Wicket'].isin(['run out', 'obstructing the field'])))
    
    return home_matches[filt]['Wicket'].count()

top_wicket_takers['Home Wickets'] = top_wicket_takers['Players'].apply(get_wicket_count_type, args=('Team One',))
top_wicket_takers['Away Wickets'] = top_wicket_takers['Players'].apply(get_wicket_count_type, args=('Team Two',))
top_wicket_takers

,Players,Innings Played,Wickets,Runs,Overs,Average,Strike Rate,Economy Rate,Home Wickets,Away Wickets
3,Imran Tahir,17,26,431,64.2,16.576923,14.846154,6.699482,12,9
32,K Rabada,12,25,368,47.0,14.720000,11.280000,7.829787,9,16
0,DL Chahar,17,22,482,64.3,21.909091,17.590909,7.472868,9,7
41,S Gopal,14,20,347,48.0,17.350000,14.400000,7.229167,11,9
26,JJ Bumrah,16,19,409,61.4,21.526316,19.473684,6.632432,8,9
84,KK Ahmed,9,19,287,34.5,15.105263,11.000000,8.239234,10,7
44,Mohammed Shami,14,19,469,54.0,24.684211,17.052632,8.685185,11,8
6,YS Chahal,14,18,386,49.2,21.444444,16.444444,7.824324,8,10
23,Rashid Khan,15,17,377,60.0,22.176471,21.176471,6.283333,9,6
1,Harbhajan Singh,11,16,312,44.0,19.500000,16.500000,7.090909,10,3